.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(176, 236, 216);
  padding: 20px;
}

h1 {
  order: -1;
  font-family: sans-serif;
  padding: 40px 0px 40px 0px;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

.button {
  margin: 5px 0px 0px 0px;
}

.pers-button {
  margin: 0px 10px 0px 0px;
}

.form {
  order: -1;
}
