/* Global Styles*/
.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(176, 236, 216);
  padding: 20px;
}

h1 {
  order: -1;
  font-family: sans-serif;
  padding: 40px 0px 40px 0px;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

label {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

/* Components*/
.form {
  order: -1;
  padding: 10px;
}

.form form {
  display: flex;
}

.form form div div {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 0 0;
}

.filter {
  padding: 10px;
}

.numbers {
  width: 30%;
  padding: 10px;
}

.person {
  justify-content: space-between;
  display: flex;
}

.pers-button {
  order: 1;
  margin: 0px 10px 0px 0px;
}
